<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" xmlns:th="http://www.thymeleaf.org"
     th:fragment="sidebar">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo">
                    <a href="index.html">
                        <img src="/static/images/logo.png" alt="" width="30" height="30"/>
                        <span>TM</span>
                    </a>
                </div>

                <li class="label">Main</li>
                <li><a href="app-widget-card.html"><i class="ti-home"></i>Dashboard</a></li>

                <li class="label">Registration</li>
                <li><a href="app-event-calender.html"><i class="ti-save-alt"></i>등록</a></li>

                <li class="label">Apps</li>
                <li><a class="sidebar-sub-toggle"><i class="ti-wallet"></i> 결제 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul style="display: none;">
                        <li><a href="/income"><i class="ti-stats-up"></i> 수입</a></li>
                        <li><a href="/expenditure"><i class="ti-stats-down"></i> 지출</a></li>
                    </ul>
                </li>
                <li><a href="/believer"><i class="ti-id-badge"></i>신도</a></li>
                <li><a href="/family"><i class="ti-user"></i>가족</a></li>
                <li><a href="/prayer"><i class="ti-hand-drag"></i>기도</a></li>
            </ul>
        </div>
    </div>
</div>