<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Focus Admin: Creative Admin Dashboard</title>
    <!-- Styles -->
    <link href="/static/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/helper.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<div th:replace="common/sidebar :: sidebar"></div>
<!-- /# sidebar -->
<div id="header" th:replace="common/header :: header"></div>

<div class="content-wrap">
    <div class="main">
        <div layout:fragment="content"></div>
    </div>
</div>

<!-- jquery vendor -->
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.nanoscroller.min.js"></script>

<script src="/static/js/lib/data-table/jquery.dataTables.min.js"></script>
<!-- nano scroller -->
<script src="/static/js/lib/menubar/sidebar.js"></script>
<script src="/static/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
<!-- bootstrap -->
<script src="/static/js/lib/circle-progress/circle-progress.min.js"></script>
<script src="/static/js/lib/circle-progress/circle-progress-init.js"></script>

<script src="/static/js/ajax-request.js"></script>

<script layout:fragment="script"></script>
</body>

</html>