<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{default-layout}">
<head>
    <title>DashBoard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css"/>

    <style>
        .datepicker td, .datepicker th {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 0.85rem;
        }
        .datepicker {
            margin-bottom: 3rem;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-7 p-r-0">
                <div class="page-header">
                    <div class="page-title">
                        <h1>DashBoard</h1>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-5 p-l-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Main</li>
                            <li class="breadcrumb-item active">DashBoard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <div class="float-right">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#incomeRegistrationModal">수입 등록</button>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#expenditureRegistrationModal">지출 등록</button>
                </div>
            </div>
        </div>

        <section id="main-content">
            <div class="row">
                <div id="table_container" class="col-12">
                    <div class="card">
                        <div class="offset-10 col-2 float-right px-0">
                            <div class="btn-group mb-3 d-flex">
                                <button class="btn btn-sm btn-default btn-outline active" id="dailyStatisticsBtn">일별</button>
                                <button class="btn btn-sm btn-default btn-outline" id="monthStatisticsBtn">월별</button>
                                <button class="btn btn-sm btn-default btn-outline" id="yearStatisticsBtn">년도별</button>
                            </div>
                        </div>
                        <canvas id="amountChart" height="200"></canvas>
                        <div class="mt-3 d-flex hidden" style="justify-content: space-between">
                            <button class="btn btn-sm btn-default btn-outline" id="a"><i class="ti-angle-left"></i></button>
                            <button class="btn btn-sm btn-default btn-outline" id="b"><i class="ti-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">오늘 수입</div>
                                <div class="stat-digit">
                                    <span id="currentDayIncomeAmount"></span><span>원</span>
                                    <h6>전일대비 : <span id="eveDayIncomeAmount"></span><span>원</span></h6>
                                </div>
                            </div>
                            <div class="progress" style="height: 16px;">
                                <div class="progress-bar wow animated progress-animated" id="currentDayProgress" role="progressbar" style="background-color: #ffffff00"></div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-title">
                            <h4>최근 등록신도</h4>
                        </div>
                        <div class="card-body">
                            <ul class="timeline" id="believerTimeLine">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">이달 수입</div>
                                <div class="stat-digit">
                                    <span id="currentMonthIncomeAmount"></span><span>원</span>
                                    <h6>전월대비 : <span id="eveMonthIncomeAmount"></span><span>원</span></h6>
                                </div>
                            </div>
                            <div class="progress" style="height: 16px;">
                                <div class="progress-bar wow animated progress-animated" id="currentMonthProgress" role="progressbar" style="background-color: #ffffff00"></div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-title">
                            <h4>최근 등록수입</h4>
                        </div>
                        <div class="card-body">
                            <ul class="timeline" id="incomeTimeLine">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">올해 수입</div>
                                <div class="stat-digit">
                                    <span id="currentYearIncomeAmount"></span><span>원</span>
                                    <h6>전년대비 : <span id="eveYearIncomeAmount"></span><span>원</span></h6>
                                </div>
                            </div>
                            <div class="progress" style="height: 16px;">
                                <div class="progress-bar wow animated progress-animated" id="currentYearProgress" role="progressbar" style="background-color: #ffffff00">30%</div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-title">
                            <h4>최근 등록지출</h4>
                        </div>
                        <div class="card-body">
                            <ul class="timeline" id="expenditureTimeLine">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <canvas id="prayerCntChart" height="380"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade" id="incomeRegistrationModal" data-backdrop="static" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="incomeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="incomeModalLabel">수입</h5>
                    <p class="m-b-0 m-t-4">사찰의 신규 수입을 등록 합니다.</p>
                </div>
                <div class="modal-body">
                    <div id="incomeEditor"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="expenditureRegistrationModal" data-backdrop="static" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="expenditureModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="expenditureModalLabel">수입</h5>
                    <p class="m-b-0 m-t-4">사찰의 신규 수입을 등록 합니다.</p>
                </div>
                <div class="modal-body">
                    <div id="expenditureEditor"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <script type="text/javascript" src="/static/js/util/datatables-util.js"></script>
    <script type="text/javascript" src="/static/js/util/type-util.js"></script>

    <script type="text/javascript" src="/static/js/component/income-editor.js"></script>
    <script type="text/javascript" src="/static/js/component/expenditure-editor.js"></script>

    <script>
        let incomeEditor = $('#incomeEditor').incomeEditor({
            onAppendSuccess: function () {
                $('incomeRegistrationModal').hide();
            }
        });

        incomeEditor.showAppend(0);

        let expenditureEditor = $('#expenditureEditor').expenditureEditor({
            onAppendSuccess: function () {
                $('expenditureRegistrationModal').hide();
            }
        });

        expenditureEditor.showAppend(0);

        const amountCTX = document.getElementById('amountChart').getContext('2d');
        const amountChart = new Chart(amountCTX, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [
                    {
                        label: '수입',
                        data: [],
                        backgroundColor: 'rgb(88,115,254, 0.6)',
                        borderColor: 'rgb(88, 115, 254, 0.6)',
                        pointStyle: 'circle',
                        pointRadius: 10,
                        pointHoverRadius: 15
                    },
                    {
                        label: '지출',
                        data: [],
                        backgroundColor: 'rgb(52, 57, 87, 0.6)',
                        borderColor: 'rgb(52, 57, 87, 0.6)',
                        pointStyle: 'circle',
                        pointRadius: 10,
                        pointHoverRadius: 15
                    }
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            }
        });

        const prayerCntCTX = document.getElementById('prayerCntChart').getContext('2d');
        const prayerCntChart = new Chart(prayerCntCTX, {
            type: 'bar',
            data: {
                labels: [

                ],
                datasets: [{
                    axis: 'y',
                    label: '기도 등록 건 수',
                    data: [],
                    fill: false,
                    backgroundColor: [
                        'rgba(91,120,252, 0.6)',
                        'rgba(194,204,255, 0.6)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            }
        });

        $(function() {
            setDailyChart();
            setPrayerCntChart();

            setToDayIncome();
            setThisMonthIncome();
            setThisYearIncome();

            setIncomeTimeLine();
            setExpenditureTimeLine();
            setBelieverTimeLine();
        });

        $(document).on('click', '#dailyStatisticsBtn', function(){
            $('#dailyStatisticsBtn').removeClass('active');
            setDailyChart();
        });

        $(document).on('click', '#monthStatisticsBtn', function(){
            $('#dailyStatisticsBtn').removeClass('active');
            setMonthChart();
        });

        $(document).on('click', '#yearStatisticsBtn', function(){
            $('#dailyStatisticsBtn').removeClass('active');
            setYearChart();
        });

        function setPrayerCntChart(){
            ajaxGetRequest('/prayers/chart/count', {}, function(result){
                let labels = [];
                let data = [];
                $.each(result, function(index, el){
                    labels.push(el.prayerName);
                    data.push(el.prayerCnt);
                });

                prayerCntChart.data.labels=labels;
                prayerCntChart.data.datasets[0].data=data;
                prayerCntChart.update();
            }, null);
        }

        function setDailyChart(){
            let date = new Date();
            amountChart.data.labels=getDaysArray(date.getFullYear(), date.getMonth() -1);
            amountChart.update();
            setAmountChatDailyIncome(date);
            setAmountChatDailyExpenditure(date);
        }

        function setMonthChart(){
            let labels = [];
            let date = new Date();
            for(let i=11; i>-1; i--){
                let calcDate = new Date(date.getFullYear(), date.getMonth() -i);
                let label = [];
                if (i === 11) {
                    label.push((calcDate.getMonth() + 1) + '월');
                    label.push(calcDate.getFullYear() + '년');
                }
                else if(calcDate.getMonth() === 0){
                    label.push((calcDate.getMonth() + 1) + '월');
                    label.push(calcDate.getFullYear() + '년');
                }
                else{
                    label.push((calcDate.getMonth() + 1) + '월');
                }

                labels.push(label);
            }

            amountChart.data.labels=labels;
            amountChart.update();

            setAmountChatMonthIncome(date);
            setAmountChatMonthExpenditure(date);
        }

        function setYearChart(){
            let labels = [];
            let date = new Date();
            let currentYear = date.getFullYear();
            for(let i=9; i>-1; i--)
                labels.push(currentYear - i + "년");

            amountChart.data.labels=labels;
            amountChart.update();

            setAmountChatYearIncome(date);
            setAmountChatYearExpenditure(date);
        }

        function setAmountChatDailyIncome(date){
            ajaxGetRequest('/income/chart/statistics/daily/' + getFormatDate(date), {}, function(result){
                let last = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
                let data = []
                for (let i = 0; i < last; i++) {
                    data.push(result[i].amount);
                }

                amountChart.data.datasets[0].data=data;
                amountChart.update();
            }, null);
        }

        function setAmountChatMonthIncome(date){
            ajaxGetRequest('/income/chart/statistics/month/' + getFormatDate(date), {}, function(result){
                let data = []
                for (let i = 0; i < 12; i++) {
                    data.push(result[i].amount);
                }

                amountChart.data.datasets[0].data=data;
                amountChart.update();
            }, null);
        }

        function setAmountChatYearIncome(date){
            ajaxGetRequest('/income/chart/statistics/year/' + getFormatDate(date), {}, function(result){
                let data = []
                for (let i = 0; i < 10; i++) {
                    data.push(result[i].amount);
                }

                amountChart.data.datasets[0].data=data;
                amountChart.update();
            }, null);
        }

        function setAmountChatDailyExpenditure(date){
            ajaxGetRequest('/expenditure/chart/statistics/daily/' + getFormatDate(date), {}, function(result){
                let last = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
                let data = []
                for (let i = 0; i < last; i++) {
                    data.push(result[i].amount);
                }

                amountChart.data.datasets[1].data=data;
                amountChart.update();
            }, null);
        }

        function setAmountChatMonthExpenditure(date){
            ajaxGetRequest('/expenditure/chart/statistics/month/' + getFormatDate(date), {}, function(result){
                let data = []
                for (let i = 0; i < 12; i++) {
                    data.push(result[i].amount);
                }

                amountChart.data.datasets[1].data=data;
                amountChart.update();
            }, null);
        }

        function setAmountChatYearExpenditure(date){
            ajaxGetRequest('/expenditure/chart/statistics/year/' + getFormatDate(date), {}, function(result){
                let data = []
                for (let i = 0; i < 10; i++) {
                    data.push(result[i].amount);
                }

                amountChart.data.datasets[1].data=data;
                amountChart.update();
            }, null);
        }

        function setToDayIncome(){
            ajaxGetRequest('/income/compare/today', {}, function(result){
                $('#currentDayIncomeAmount').text(result[0].amount.toLocaleString());
                $('#eveDayIncomeAmount').text((result[0].amount - result[1].amount).toLocaleString());

                setProgressBar($('#currentDayProgress'), result);
            }, null);
        }

        function setThisMonthIncome(){
            ajaxGetRequest('/income/compare/thismonth', {}, function(result){
                $('#currentMonthIncomeAmount').text(result[0].amount.toLocaleString());
                $('#eveMonthIncomeAmount').text((result[0].amount - result[1].amount).toLocaleString());

                setProgressBar($('#currentMonthProgress'), result);
            }, null);
        }

        function setThisYearIncome(){
            ajaxGetRequest('/income/compare/thisyear', {}, function(result){
                $('#currentYearIncomeAmount').text((result[0].amount).toLocaleString());
                $('#eveYearIncomeAmount').text((result[0].amount - result[1].amount).toLocaleString());

                setProgressBar($('#currentYearProgress'), result);
            }, null);
        }

        function setBelieverTimeLine(){
            ajaxGetRequest('/believers/top/5', {}, function(result){
                $.each(result, function(index, el){
                    let address = el.address === '' ? '-' : el.address;

                    let li = $('<li>\n' +
                        '         <div class="timeline-badge believer"><i class="ti-id-badge"></i></div>\n' +
                        '         <div class="timeline-panel">\n' +
                        '           <div class="timeline-heading">\n' +
                        '             <h5 class="timeline-title">\n' + el.believerName + ' (생년월일:' + el.birthOfYear + ')' + '</h5>\n' +
                        '           </div>\n' +
                        '           <div class="timeline-body">\n' +
                        '             <p>' + address +'</p>\n' +
                        '           </div>\n' +
                        '         </div>\n' +
                        '       </li>');

                    $('#believerTimeLine').append(li.fadeIn(1000));
                });
            }, null);
        }

        function setIncomeTimeLine(){
            ajaxGetRequest('/incomes/top/5', {}, function(result){
                $.each(result, function(index, el){
                    let amount = el.cardAmount + el.cashAmount + el.bankBookAmount;
                    let li = $('<li>\n' +
                        '         <div class="timeline-badge success"><i class="ti-stats-up"></i></div>\n' +
                        '         <div class="timeline-panel">\n' +
                        '           <div class="timeline-heading">\n' +
                        '             <h5 class="timeline-title">\n' + el.code.codeName + ' (' + amount.toLocaleString() + '원)' + '</h5>\n' +
                        '           </div>\n' +
                        '           <div class="timeline-body">\n' +
                        '             <p>' + el.believer.believerName +'</p>\n' +
                        '           </div>\n' +
                        '         </div>\n' +
                        '       </li>');

                    $('#incomeTimeLine').append(li.fadeIn(1000));
                });
            }, null);
        }

        function setExpenditureTimeLine(){
            ajaxGetRequest('/expenditures/top/5', {}, function(result){
                $.each(result, function(index, el){
                    let amount = el.cardAmount + el.cashAmount + el.bankBookAmount;

                    let li = $('<li>\n' +
                        '         <div class="timeline-badge danger"><i class="ti-stats-down"></i></div>\n' +
                        '         <div class="timeline-panel">\n' +
                        '           <div class="timeline-heading">\n' +
                        '             <h5 class="timeline-title">\n' + el.code.codeName + ' (' + amount.toLocaleString() + '원)' + '</h5>\n' +
                        '           </div>\n' +
                        '           <div class="timeline-body">\n' +
                        '             <p>' + el.believer.believerName +'</p>\n' +
                        '           </div>\n' +
                        '         </div>\n' +
                        '       </li>');

                    $('#expenditureTimeLine').append(li.fadeIn(1000));
                });
            }, null);
        }

        function getComparePercent(amount1, amount2) {
            if(amount2 !== 0)
                return Math.round(amount1 / amount2 * 100) < 100 ? Math.round(amount1 / amount2 * 100) : 100;
            else
                return 100;
        }

        function getProgressColor(percent) {
            if (0 <= percent && percent < 33)
                return 'progress-bar-danger';
            else if (33 <= percent && percent < 66)
                return 'progress-bar-warning';
            else
                return 'progress-bar-success';
        }

        function setProgressBar(element, data){
            let w = getComparePercent(data[0].amount, data[1].amount);

            element.attr('style', 'width:' + w + '%');
            element.addClass(getProgressColor(w));
            element.text(w + '%');
        }
    </script>
</th:block>