<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{default-layout}">
<head>
    <title>가족정보</title>
</head>

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-7 p-r-0">
                <div class="page-header">
                    <div class="page-title">
                        <h1>가족정보</h1>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-5 p-l-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Apps</li>
                            <li class="breadcrumb-item active">가족</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section id="main-content">
            <div class="row">
                <div id="believer_table_container" class="col-12">
                    <div class="card">
                        <table id="believerTB" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr class="believerTB filters">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="family_table_container" class="col-12 hidden">
                    <div class="card">
                        <div class="row">
                            <div class="col-11">
                                <h4 style="color: #BDBDC7;">
                                    <span>홍길동</span> 신도님의 가족
                                </h4>
                            </div>
                            <div class="col-1">
                                <button id="gotoBelieverBtn" class="btn btn-sm btn-primary float-right"><i class="ti-back-left"></i> 돌아가기</button>
                            </div>
                        </div>
                        <table id="familyTB" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr class="familyTB filters">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id="editor_container" class="col-3 hidden">
                    <div class="card">
                        <div id="familyEditor">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" src="/static/js/util/datatables-util.js"></script>
    <script type="text/javascript" src="/static/js/util/type-util.js"></script>
    <script type="text/javascript" src="/static/js/component/family-editor.js"></script>

    <script>
        let familyEditor = $('#familyEditor').familyEditor({
            onSaveSuccess: function(){
                let selectedIndex = familyTable.rows('.selected').indexes()[0];
                familyTable.ajax.reload(function(){
                    familyTable.rows(selectedIndex).select();
                }, false);
            },

            onDeleteSuccess: function(){
                familyTable.ajax.reload(function(){
                    familyTable.rows('.selected').deselect();
                    $('#family_table_container').addClass('col-12').removeClass('col-9');
                    $('#editor_container').addClass('hidden');
                    familyTable.draw();

                    familyEditor.setEmpty();
                }, true);
            }
        });

        let believerAdditionalOption = Object.assign({}, defaultDataTablesOption, {
            ajax: {
                url: '/believers',
                type: 'GET',
                dataSrc: ''
            },
            columns : [
                {data: 'believerName', title:'이름', width: '20%'},
                {data: 'birthOfYear', title:'생년월일', width: '20%'},
                {data: 'lunarSolarType', title:'음력/양력', width: '20%'},
                {data: 'address', title:'주소', width: '40%'}
            ],
            columnDefs: [
                {
                    targets: [0,1],
                    className: 'dt-head-center dt-body-center'
                },
                {
                    targets: [2],
                    className: 'dt-head-center dt-body-center',
                    render: function(data){
                        return lunarSolarConvert(data);
                    }
                },
                {
                    targets: [3],
                    className: 'dt-head-center dt-body-left'
                }
            ],
            initComplete: function () {
                let api = this.api();

                api.columns().eq(0).each(function (colIdx) {
                    let cell = $('.believerTB.filters th').eq($(api.column(colIdx).header()).index());

                    cell.addClass('p-r-8');

                    let searchInput = $('<input/>', {
                        type: 'text',
                        class: 'input-default form-control input-sm',
                        style: 'padding-right: 0px;',
                        placeholder: '검색어 입력'
                    });

                    $(cell).append(searchInput);

                    $('input', $('.believerTB.filters th').eq($(api.column(colIdx).header()).index())).off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            let regexr = '({search})';

                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            believerTable.rows('.selected').deselect();
                        });
                });
            }
        });

        let believerTable = $('#believerTB').DataTable(believerAdditionalOption);

        let familyAdditionalOption = Object.assign({}, defaultDataTablesOption, {
            select: 'single',
            scrollY: '450px',
            ajax: {
                url: '/families/0',
                type: 'GET',
                dataSrc: ''
            },
            columns : [
                {data: 'familyType', title:'가족관계', width: '10%'},
                {data: 'familyName', title:'이름', width: '20%'},
                {data: 'birthOfYear', title:'생년월일', width: '20%'},
                {data: 'lunarSolarType', title:'음력/양력', width: '10%'},
            ],
            columnDefs: [
                {
                    targets: [0],
                    className: 'dt-head-center dt-body-center',
                    render: function(data){
                        return familyTypeConvert(data);
                    }
                },
                {
                    targets: [1,2],
                    className: 'dt-head-center dt-body-center'
                },
                {
                    targets: [3],
                    className: 'dt-head-center dt-body-center',
                    render: function(data){
                        return lunarSolarConvert(data);
                    }
                }
            ],
            initComplete: function () {
                let api = this.api();

                api.columns().eq(0).each(function (colIdx) {
                    let cell = $('.familyTB.filters th').eq($(api.column(colIdx).header()).index());

                    cell.addClass('p-r-8');

                    let searchInput = $('<input/>', {
                        type: 'text',
                        class: 'input-default form-control input-sm',
                        style: 'padding-right: 0px;',
                        placeholder: '검색어 입력'
                    });

                    $(cell).append(searchInput);

                    $('input', $('.familyTB.filters th').eq($(api.column(colIdx).header()).index())).off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            let regexr = '({search})';

                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            familyTable.rows('.selected').deselect();
                        });
                });
            }
        });

        let familyTable = $('#familyTB').DataTable(familyAdditionalOption);

        believerTable.on('click', 'tbody tr', function () {
            if(believerTable.row( this ).data() !== undefined) {
                $('#believer_table_container').addClass('hidden');
                $('#family_table_container').removeClass('hidden');

                let rowData = believerTable.row(this).data();

                $('#family_table_container span').text(rowData.believerName);

                familyTable.columns.adjust().draw();

                familyTable.ajax.url('/families/' + rowData.believerId).load();
            }
        });

        familyTable.on('select', function (e, dt, type, indexes){
            $('#family_table_container').removeClass('col-12').addClass('col-9');
            $('#editor_container').removeClass('hidden');
            familyTable.draw(false);

            familyEditor.setValues(familyTable.rows(indexes).data()[0]);
        });

        familyTable.on('deselect', function (){
            $('#family_table_container').addClass('col-12').removeClass('col-9');
            $('#editor_container').addClass('hidden');
            familyTable.draw(false);

            familyEditor.setEmpty();
        });

        $('#gotoBelieverBtn').on('click', function(){
            familyTable.rows('.selected').deselect();

            familyTable.columns().eq(0).each(function (colIdx){
                familyTable.column(colIdx).search("").draw();
                $('input', $('.familyTB.filters th').eq($(familyTable.column(colIdx).header()).index())).val('');
            });

            $('#family_table_container').addClass('col-12').removeClass('col-9');
            $('#editor_container').addClass('hidden');

            $('#believer_table_container').removeClass('hidden');
            $('#family_table_container').addClass('hidden');

            believerTable.columns.adjust().draw();
        });
    </script>
</th:block>