<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{default-layout}">
<head>
    <title>기도정보</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <style>
        .datepicker td, .datepicker th {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 0.85rem;
        }

        .datepicker {
            margin-bottom: 3rem;
        }
        .select2-container--bootstrap4 .select2-selection--single{
            height: 42px !important;
        }
        .select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
            color: #fff;
            background-color: #6D85FB;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-7 p-r-0">
                <div class="page-header">
                    <div class="page-title">
                        <h1>기도정보</h1>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-5 p-l-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Apps</li>
                            <li class="breadcrumb-item active">기도</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section id="main-content">
            <div class="row">
                <div id="table_container" class="col-12">
                    <div class="card">
                        <table id="prayerTB" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr class="filters">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id="editor_container" class="col-3 hidden">
                    <div class="card">
                        <div id="prayerEditor">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

    <script src="/static/js/util/datatables-util.js"></script>
    <script src="/static/js/component/prayer-editor.js"></script>
    <script>
        let prayerEditor = $('#prayerEditor').prayerEditor({
            onSaveSuccess: function(){
                let selectedIndex = table.rows('.selected').indexes()[0];
                table.ajax.reload(function(){
                    table.rows(selectedIndex).select();
                }, false);
            },

            onDeleteSuccess: function(){
                table.ajax.reload(function(){
                    table.rows('.selected').deselect();
                    $('#table_container').addClass('col-12').removeClass('col-9');
                    $('#editor_container').addClass('hidden');
                    table.draw();

                    prayerEditor.setEmpty();
                }, true);
            }
        });

        let additionalOption = {
            select: 'single',
            ajax: {
                url: '/prayers',
                type: 'GET',
                dataSrc: ''
            },
            columns : [
                {data: 'believer.believerName', title:'신도명', width: '30%'},
                {data: 'code.codeName', title:'기도종류', width: '30%'},
                {data: 'prayerStartDate', title:'기도시작일', width: '40%'}
            ],
            columnDefs: [
                {
                    targets: [0,1,2],
                    className: 'dt-head-center dt-body-center'
                }
            ]
        };

        Object.assign(additionalOption, defaultDataTablesOption);

        let table = $('#prayerTB').DataTable(additionalOption);

        table.on('select', function (e, dt, type, indexes) {
            if (type === 'row') {
                $('#table_container').removeClass('col-12').addClass('col-9');
                $('#editor_container').removeClass('hidden');

                prayerEditor.showUpdate();

                table.draw(false);

                prayerEditor.setValues(table.rows(indexes).data()[0]);
            }
        } );

        table.on('deselect', function (e, dt, type) {
            if (type === 'row') {
                $('#table_container').addClass('col-12').removeClass('col-9');
                $('#editor_container').addClass('hidden');
                table.draw(false);

                prayerEditor.setEmpty();
            }
        } );
    </script>
</th:block>